html, body {
  margin: 0;
  padding: 0;
}

body, .root {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 5px 2px #474747;
}

.c--loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 45%;
    margin-right: 45%;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 3%;
  padding-left: 3%;
}

.top--website{
  display: flex;
  justify-content: space-between;
}

.time--website {
  text-align: center;
}

.crypto--Website{
  display: flex;
  flex-direction: row;
}

.crypto--simbol{
  padding-left: 10px;
  padding-top: 10px;
  width: 30px;
  height: 30px;
}

.crypto--value{
  padding-left: 5px;
}