body{
  background: #E5E5E5;
  font-family: 'Karla', sans-serif;
}

.main--page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}

.main--name{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin: 9px;
  line-height: 37px;
  color: #293264;
}

.main--description{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.star--button{
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  margin:30px;
  border: none;
  color: #F5F7FB;
}

.img--botton {
  background: #DEEBF8;
  border-radius: 35%;
  width: 30%;
  height: 45%;
  position: fixed;
  margin-top: 40%;
  margin-left: -95%;
  transform: rotate(-10deg);
}

.img--up {
  border-radius: 25%;
  width: 30%;
  height: 30%;
  background: #FFFAD1;
  position: fixed;
  margin-top: -35%;
  margin-left: 90%;
  transform: rotate(40.49deg);
}

.question--quiz{
  display: flex;
  text-align: left;
  color: #293264;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 16px;
  font-weight: 700;
}

.question--line{
  margin-left: 20%;
  margin-right: 20%;
  border: 0.8px solid #DBDEF0;
  margin-bottom: 2%;
}

.answer--option{
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.answer--div{
  border: 0.8px solid #4D5B9E;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #E5E5E5;
  color: #293264;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
  margin-left: 3px;
}

.check--button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
  border: none;
}

.div--button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--question{
  margin-top: 3%;
}