html, body {
    margin: 0;
    padding: 0;
    background-image: url(Img/table.png);
    background-size: cover;
    font-family: "Exo 2", sans-serif;
}

.body, .root, .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
}

button.draw{
    font-size: 1.2em;
    padding: 5px;
}

button.draw:disabled {
    cursor: not-allowed;
}

button.new--deck{
    align-self: flex-start;
    padding: 5px;
}

.card--slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 130px;
    width: calc(130px * 5 / 7);
    margin-bottom: 30px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result--slot{
    display: flex;
    flex-direction: column;
    margin: 6px;
    color: white;
}

.div--result{
    display: flex;
    flex-direction: column;
    align-items: center;
}