html, body {
  margin: 0;
  padding: 0;
}

body, .root {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.c--loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 45%;
    margin-right: 45%;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1%;
  padding-left: 1%;
}

.top--website{
  display: flex;
  justify-content: space-between;
}

.time--website {
  text-align: center;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  font-size: 6.0rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.author--img{
  color: white;
  text-shadow: 3px 5px 2px #474747;
}

.weather--icon--temp{
  display: flex;
  flex-direction: column;
  height: 80px;
}

.weather--icon{
  width: 90px;
}

.weather--temp{
  font-size: 15px;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  margin-left: -10px;
}

.weather--city{
  display: flex;
  font-size: 15px;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  margin-top: 9%;
  flex-direction: row-reverse;
}

.div--infor{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon--temp{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}

.group--weather{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.stock--list{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px; 
}

.input--stock{
  height: 40px;
  width: 130px;
  background-color: #272626;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  color: #d8d8d8;
  border: 0.5px solid #2d2d2d;
}
::-webkit-input-placeholder{color: #777;}
.input--stock::-moz-placeholder{color: #777}

.p--br--stock{
  color: white;
  text-shadow: 3px 5px 2px #474747;
  margin-top: 2px;
  margin-bottom: 2px;
}

.drop--down{
  color: white;
  text-shadow: 3px 5px 2px #474747;
  width: 130px;
  background-color: #272626;
  border-radius: 5px;
  margin-top: 2px;
  border: 0.5px solid #2d2d2d;
  height: 190px;
  overflow: auto;
  display: none;
  transform:  translate(0px, -5px);
}
::-webkit-scrollbar{
  background-color: #1d1d1d;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #5b5b5b;
  border-radius: 5px;
}

.item{
  height: 15px;
  padding: 0px 5px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}
.item:hover{
  background-color: #121212;
  padding-left: 7px;
  transition: 0.3s;
}

.br--stock--div{
  width: 15%;
  height: 96%;
}

.div--result--br{
  font-size: 10px;
  width: 190px;
  background-color: #121212;
  color: white;
  text-shadow: 0px 0px 0px #FFFFFF;
}

.icon--stock--br{
  width: 40px;
  height: 40px;
}

.img--symbol{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart--stock{
  color: black;
}