html, body {
  margin: 0;
  padding: 0;
}

body, .root {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1%;
  padding-left: 1%;
}

/*//////////////////////////*/
/*//// Start loading CSS////*/
/*//////////////////////////*/
.c--loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 45%;
    margin-right: 45%;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
/*//////////////////////////*/
/*///// End loading CSS/////*/
/*//////////////////////////*/

/*//////////////////////////*/
/* Start Wtr & Inf Stock CSS*/
/*//////////////////////////*/
.div--infor{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Start Weather */
.group--weather{
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}

.weather--icon--temp{
  display: flex;
  flex-direction: column;
  height: 70px;
}

.icon--temp{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}

.weather--icon{
  width: 80px;
}

.weather--temp{
  font-size: 12px;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  margin-left: -10px;
}

.weather--city{
  display: flex;
  font-size: 14px;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  margin-top: 9%;
  flex-direction: row-reverse;
}
/* End Weather */

/*//////////////////////////*/
/* End Weath & Inf Stock CSS*/
/*//////////////////////////*/

/*//////////////////////////*/
/*/ Start DropDown List CSS/*/
/*//////////////////////////*/
.stock--div{
  width: 15%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p--stock{
  color: white;
  text-shadow: 3px 5px 2px #474747;
  margin-top: 2px;
  margin-bottom: 2px;
}

.input--stock{
  height: 40px;
  width: 130px;
  background-color: #272626;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  color: #d8d8d8;
  border: 0.5px solid #2d2d2d;
}
::-webkit-input-placeholder{color: #777;}
.input--stock::-moz-placeholder{color: #777}

::-webkit-scrollbar{
  background-color: #1d1d1d;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #5b5b5b;
  border-radius: 5px;
}

.drop--down{
  color: white;
  text-shadow: 3px 5px 2px #474747;
  width: 130px;
  background-color: #272626;
  border-radius: 5px;
  margin-top: 2px;
  border: 0.5px solid #2d2d2d;
  height: 190px;
  overflow: auto;
  display: none;
  transform:  translate(0px, -5px);
}

.item{
  height: 15px;
  padding: 0px 5px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}
.item:hover{
  background-color: #121212;
  padding-left: 7px;
  transition: 0.3s;
}
/*//////////////////////////*/
/*// End DropDown List CSS//*/
/*//////////////////////////*/

/*//////////////////////////*/
/*/ Start Result Stock CSS /*/
/*//////////////////////////*/
.div--result{
  font-size: 10px;
  width: 190px;
  background-color: #121212;
  color: white;
  text-shadow: 0px 0px 0px #FFFFFF;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
}
/*//////////////////////////*/
/*// End Result Stock CSS //*/
/*//////////////////////////*/


/*//////////////////////////*/
/* Start Dividend Grafic CSS*/
/*//////////////////////////*/
.group--dividend{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.div--dividend{
  margin-right: 6%;
  margin-left: -2%;
}

.grafic--data{
  color: white;
  text-shadow: 3px 5px 2px #474747; 
}

.chart--stock{
  background-color: #121212;
  width: 500px;
  height: 150px;
  border-radius: 5px;
}
/*//////////////////////////*/
/* End Dividend Grafic CSS  */
/*//////////////////////////*/

/*//////////////////////////*/
/*/// Start Exchange CSS ///*/
/*//////////////////////////*/
.exchange{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  flex-direction: row;
}

.exchange--money{
  display: flex;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  background-color: #1d1d1d;
  border-color: #d8d8d8;
  border-radius: 5px;
  padding-right: 2%;
  padding-left: 2%;
  margin-right: 1%;
  margin-left: 1%;
  width: 150px;
}

.exchange--base{
  margin-right: 4%;
  text-align: center;
}

.exchange--currency{
  padding-right: 2%;
  padding-left: 2%;
}
/*//////////////////////////*/
/*//// End Exchange CSS ////*/
/*//////////////////////////*/

/*//////////////////////////*/
/*///// Start Time CSS /////*/
/*//////////////////////////*/
.time--website {
  text-align: center;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  font-size: 4.0rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*//////////////////////////*/
/*////// End Time CSS //////*/
/*//////////////////////////*/

/*//////////////////////////*/
/*// Start Author Img CSS //*/
/*//////////////////////////*/
.div--author{
  display: flex;
}

.author--img{
  background-color: #1d1d1d;
  color: white;
  text-shadow: 3px 5px 2px #474747;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
/*//////////////////////////*/
/*/// End Author Img CSS ///*/
/*//////////////////////////*/