html, body {
  margin: 0;
  padding: 0;
}

body, .root {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 5px 2px #474747;
}

.c--loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 45%;
    margin-right: 45%;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 3%;
  padding-left: 3%;
}

.top--website{
  display: flex;
  justify-content: space-between;
}

.time--website {
  text-align: center;
  font-size: 6.0rem;
}

.weather--div{
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  margin-top: -3%;
}

.weather--icon--temp{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather--icon{
  width: 120px;
}

.weather--temp{
  font-size: 30px;
}

.weather--city{
  display: flex;
  flex-direction: column;
  font-size: 23px;
  text-align: right;
  margin-top: -10%;
}

.stock--list{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px; 
}

.input--stock{
  height: 40px;
  width: 125px;
  background-color: #272626;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  color: #d8d8d8;
  border: 0.5px solid #2d2d2d;
}
::-webkit-input-placeholder{color: #777;}
.input--stock::-moz-placeholder{color: #777}

.drop--down{
  width: 125px;
  background-color: #272626;
  border-radius: 5px;
  margin-top: 5px;
  border: 0.5px solid #2d2d2d;
  height: 200px;
  overflow: auto;
  display: none;
  transform:  translate(0px, -5px);
}
::-webkit-scrollbar{
  background-color: #1d1d1d;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #5b5b5b;
  border-radius: 5px;
}

.item{
  height: 15px;
  padding: 0px 5px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}
.item:hover{
  background-color: #121212;
  padding-left: 7px;
  transition: 0.3s;
}